<style>
	body {
   background: #999;  
   padding: 20px 40px; 
}

.tabs {
  position: relative;   
  min-height: 600px;
  clear: both;
  margin: 35px 0 25px;
  background: white;
}
.tab {
  float: left;
   
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  top: -29px;
  -webkit-transition: background-color .17s linear;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: -1px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  -webkit-transition: opacity .6s linear;
  opacity: 0;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
</style>
<p id="notice"><%= notice %></p>
<%= button_to "Refresh", driver_path, :method => :get %>


<div class="tabs">

    
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Waiting</label>
       
       <div class="content">
           <table>
  <thead>
    <tr>
      <th>RequestID</th>
      <th>CustomerID</th>
      <th>Requested</th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
    <% if ride.status == "waiting" %>
      <tr>
        <td><%= ride.id %></td>
        <td><%= ride.customer.id%></td>
        <td><%= time_ago_in_words((ride.created_at).localtime) %><%= " ago"%></td>
        <td><%= button_to 'Select Ride', select_ride_path(:ride_id => ride.id, :driver_id => @driver.id), :method => :patch %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
       </div> 
   </div>
    
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Ongoing</label>
       
       <div class="content">
          <table>
  <thead>
  
    <tr>
      <th>RequestID</th>
      <th>CustomerID</th>
      <th>Requested</th>
      <th>PickedUp</th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
<% if ride.status == "ongoing" && ride.driver_id == @driver.id  %>
      <tr>
        <td><%= ride.id %></td>
        <td><%= ride.customer.id%></td>
        <td><%= time_ago_in_words((ride.created_at).localtime) %><%= " ago"%></td>
        <td><%= time_ago_in_words((ride.pickup_time).localtime) %><%= " ago"%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
           
       </div> 
   </div>
    
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1">
       <label for="tab-3">Complete</label>
     
       <div class="content">
         <table>
  <thead>
    <tr>
      <th>RequestID</th>
      <th>CustomerID</th>
      <th>Requested</th>
      <th>PickedUp</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
<% if ride.status == "complete" && ride.driver_id == @driver.id  %>
      <tr>
        <td><%= ride.id %></td>
        <td><%= ride.customer.id%></td>
        <td><%= time_ago_in_words((ride.created_at).localtime) %><%= " ago"%></td>
        <td><%= time_ago_in_words((ride.pickup_time).localtime) %><%= " ago"%></td>
        <td><%= time_ago_in_words((ride.updated_at).localtime) %><%= " ago"%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
           
       </div> 
   </div>
    
</div>




<p>
  <strong>Name:</strong>
  <%= @driver.id %>
</p>



 
<%= link_to 'Back', drivers_path %>
