<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @ride.status %>
</p>

<% if @ride.pickup_time %>
<p>
  <strong>Pickup time:</strong>
   
  <%= @ride.pickup_time %>
</p>
<% else %>
  <p>
  <strong>Request Time:</strong>
   
  <%= @ride.created_at %>
</p>
  <% end %>

<p>
  <strong>Driver:</strong>
  <% if @ride.driver_id %>
  <%= @ride.driver_id %>
  <% else %>
  <%= "none" %>
  <% end %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ride.customer.name %>
</p>


<%= link_to 'Back', rides_path %>
